<section class="section">
  <div class="container">
    <ul class="card-set">
      <li class="card-item">
        <div class="box-img">
          <img
            src="https://cdn.pixabay.com/photo/2022/06/08/22/13/cat-7251342_960_720.jpg"
            alt=""
            class="card-img"
          />
        </div>
        <h3 class="card-title">GREYHOUND</h3>
        <div class="card-description">
          <li class="card-genre">Drama, Action | 2020</li>
        </div>
      </li>
    </ul>
  </div>
</section>
