<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My library</title>
    <link rel="stylesheet" href="./sass/library.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <script type="module" src="./library.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <ul class="card-set">

                <li class="card-item">
                <article class="card">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" 
                        alt="" 
                        class="card-img">
                    </div> 
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <div class="card-description">
                        <p class="card-text">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                    </div>
                </article>
                </li>

                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                        <p class="card-text">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                        <p class="card-text">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>

                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
                
                <li class="card-item">
                    <article class="card">
                        <div class="box-img">
                            <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                                class="card-img">
                        </div>
                        <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                        <div class="card-description">
                            <p class="card-text">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>