
    <section class="section">
        <div class="container">
            <ul class="card-set">

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <div class="card-description">
                            <p class="card-genre">Drama, Comedy | 2019</p>
                            <span class="card-rating">10.0</span>
                        </div>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>

                <li class="card-item">
                    <div class="box-img">
                        <img src="https://cdn.pixabay.com/photo/2022/05/20/11/58/beetle-7209311_960_720.jpg" alt=""
                            class="card-img">
                    </div>
                    <h3 class="card-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
                    <div class="card-description">
                        <p class="card-genre">Drama, Comedy | 2019</p>
                        <span class="card-rating">10.0</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
