<header class="header-library">
    <div class="container header__container">
        <nav class="header-library__navigation">
            <ul class="header-library__navigation--list">
                <li class="header-library__navigation--item  header-library__navigation--logo">
                    <a href="./index.html" class="header-library__navigation--link">
                        <svg class="header-library__navigation--logo-icon" height="24" width="24">
                            <use href="./images/symbol.svg#icon-filmoteka"></use>
                        </svg>
                        <span class="header-library__navigation--logo-title">
                            Filmoteka
                        </span>
                    </a>
                </li>
                <li class="header-library__navigation--item home">
                    <a href="./index.html" class="header-library__navigation--link">
                        Home
                    </a>
                </li>
                <li class="header-library__navigation--item">
                    <a href="./library.html"
                        class="header-library__navigation--link header-library__navigation--link-current">
                        My library
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="header-library__button-list">
            <li class="header-library__button-item">
                <button class="header-library__button header-library__button--watched" type="button">Watched
                    <div class="header-library--watched--spinner"></div>
                </button>
            </li>
            <li class="header-library__button-item">
                <button class="header-library__button header-library__button--queue" type="button">queue
                    <div class="header-library--queue--spinner"></div>
                </button>
            </li>
        </ul>
    </div>
</header>