<section class="header-library">
    <ul class="header-library__navigation">
        <li class="header-library__navigation--item  logo">
            <a href="#" class="header-library__navigation--link">
                <svg class="header-library__navigation--icon">
                    <use href="/src/images/symbol.svg#icon-film" height="24" weight="24"></use>
                </svg>
            </a>
        </li>
        <li class="header-library__navigation--item home">
            <a href="#" class="header-library__navigation--link">Home</a>
        </li>
        <li class="header-library__navigation--item">
            <a href="#" class="header-library__navigation--link">My library</a>
        </li>
    </ul>
    <ul class="header-library__button-list">
        <button class="header-library__button watched" type="button">Watched</button>
        <button class="header-library__button queue" type="button">queue</button>
    </ul>
</section>