<header class="header header-home">

    <div class="container header__box">

        <div class="header__menu">
            <a href="index.html" class="header__logo-box">
                <svg class="header__icon--logo" width="24" height="24">
                    <use href="./images/symbol.svg#icon-filmoteka">
                    </use>
                </svg>
                <span class="header__title">Filmoteka</span>
            </a>

            <nav class="header__nav">
                <ul class="navigation-list">
                    <li class="nav__item">
                        <a href="index.html" class="header__nav--link header__nav--link--current"
                            data-state="home">HOME</a>
                    </li>
                    <li class="nav__item">
                        <a href="library.html" class="header__nav--link" data-state="library">MY LIBRARY</a>
                    </li>
                </ul>
            </nav>
        </div>

        <label class="header__label">
            <input 
                class="header__input header__form-input" 
                type="text" 
                name="filmname" 
                placeholder="Search movies..." 
            />
            
            <div id="spinner" class="spinner--home"></div>
            
            <svg class="header__icon--search" width="12" height="12">
                <use href="./images/symbol.svg#icon-search"></use>
            </svg>

        </label>

        <p class="header__error-text is-hidden">Search result not successful. Enter the correct movie name</p>

    </div>

</header>

<body>
    <img class="img-search-error is-hidden" src="./images/img-search-error.png" alt="Search Error" width="256" height="256">
</body>