<!-- <button data-modal-open>by GoIT Students</button> -->
<div class="backdrops is-hiddens" data-modals>
  <div class="modals">
    <h2 class="backdrop__title">Team GoIT Students</h2>
    <ul class="command-list">
      <li class="command-item">
        <div>
          <img
            class="command-img"
            src="https://avatars.githubusercontent.com/u/93053290?v=4"
            alt="Nice command"
          />
          <a class="command-link" href="https://github.com/YevsiukoVitaliy">
            <svg class="command-icon" width="30" height="30">
              <use href="../src/images/symbol.svg#icon-github"></use>
            </svg>
            <p>Віталій</p></a
          >
        </div>
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="https://avatars.githubusercontent.com/u/91918033?v=4"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/Maxstr75">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Максим</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="../src/images/Yurii-min.jpg"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/YurijKovbasyuk">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Юрій</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T02UC9J08RZ-U02V3BW1XE0-ccfc56f2f30a-512"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/mikegurak">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Михайло</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T02UC9J08RZ-U02V9B5Q0KV-03c21b7530f1-512"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/RomaTomashevskiy">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Роман</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="../src/images/Snizhana-min.jpg"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/Snizhana15">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Сніжана</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="../src/images/braga-min.jpg"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/bragynator">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Олександр</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="../src/images/Viktor-min.jpg"
          alt="Nice command"
        />
        <a class="command-link" href="https://github.com/ViktorTyt">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/symbol.svg#icon-github"></use>
          </svg>
          <p>Віктор</p>
        </a>
      </li>
    </ul>
  </div>
</div>
