<ul class="movies-navigation">
  <li class="movies-navigation__item">
    <button
      type="button"
      class="movies-navigation__arrow-btn"
      data-move="backward"
    >
      <svg class="movies-navigation__icon-arrow">
        <use href="/src/images/symbol.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </li>
  <li class="movies-navigation__item">
    <ul class="number-page">
      <li class="number-page__item">
        <button type="button" class="number-page__btn">1</button>
      </li>
      <li class="number-page__item">
        <button type="button" class="number-page__btn">13</button>
      </li>
      <li class="number-page__item">
        <button type="button" class="number-page__btn">14</button>
      </li>
      <li class="number-page__item">
        <button
          type="button"
          class="number-page__btn number-page__btn--current"
        >
          15
        </button>
      </li>
      <li class="number-page__item">
        <button type="button" class="number-page__btn">16</button>
      </li>
      <li class="number-page__item">
        <button type="button" class="number-page__btn">17</button>
      </li>
      <li class="number-page__item">
        <button type="button" class="number-page__btn">20</button>
      </li>
    </ul>
  </li>
  <li class="movies-navigation__item">
    <button
      type="button"
      class="movies-navigation__arrow-btn"
      data-move="forward"
    >
      <svg class="movies-navigation__icon-arrow">
        <use href="/src/images/symbol.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </li>
</ul>
