.section {
  @media screen and(min-width:320px) {
    margin-top: 20px;
  }

  @media screen and(min-width:768px) {
    margin-top: 60px;
  }
}

.card-set {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    // margin-top: -32px;
  }

  @media screen and(min-width:1024px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    // margin-top: -32px;
  }
}

.card-set__item {
  cursor: pointer;

  @media screen and(max-width:768px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - 32px);
    margin-left: 32px;
    margin-top: 32px;

    &.card-set__item:nth-child(-n + 2) {
      margin-top: 0;
    }
  }

  @media screen and(min-width:1024px) {
    flex-basis: calc(100% / 3 - 16px);
    margin-left: 16px;
    margin-top: 32px;

    &.card-set__item:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
}

.card-set__img {
  border-radius: 5px;
}

.card-set__title {
  margin-top: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}

.card-set__genre {
  justify-content: left;
  align-items: baseline;
  display: flex;
}

.card-set__genre-movie,
.card-set__production-year {
  color: #ff6b08;

  @media screen and(max-width:768px) {
    margin-right: 9px;
  }
}

.card-set__description {
  align-items: baseline;
  display: flex;
}

.card-set__rating {
  line-height: 1.16;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 9px;
  padding-right: 9px;
  text-align: center;
  background-color: #ff6b08;
  color: #ffffff;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination__item {
  margin-right: 16px;
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;

  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration: none;
    background-color: #ff6b08;
    width: 40px;
    color: #fff;
  }
}

.pagination__button--current {
  background-color: #ff6b08;
  color: #fff;
  width: 40px;
}

.library__empty-container {
  margin: 0 auto;
}

.library__empty-text {
  font-size: 24px;
  text-align: center;
  font-style: italic;
}

// .pagination {
//   margin-top: 40px;
//   display: flex;
//   justify-content: center;

//   &__item {
//     margin-right: 10px;
//   }

//   &__button {
//     width: 50px;
//     height: 30px;
//     cursor: pointer;
//   }
// }
